.error-container {
    height: calc(100vh - 209px - 50px - 71.5px);
    color: #FF6060;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.error-container div div{
    font-size: 288px;
    font-weight: bold;
}

.error-container p {
    font-size: 36px;
    font-weight: 500;
}

.error-container a {
    font-size: 18px;
    font-weight: 500;
    color: #FF6060;
    text-decoration: underline;
}